<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hamster.ak.mapper.UserMapper">
    <sql id="base_column_list">
      id,loginname,name,password,created,modified,creator,modifier
    </sql>

    <select id="selectByLoginName" resultType="com.hamster.ak.bean.UserBean">
        select
        <include refid="base_column_list"/>
        from user where loginname =#{loginName}
    </select>

    <select id="selectById" resultType="com.hamster.ak.bean.UserBean">
        select
        <include refid="base_column_list"/>
        from user where id =#{userId, jdbcType=INTEGER}
    </select>

    <insert id="insert">
        insert into user
        (id, loginName, name, password, creator, modifier)
        values
        (
        #{bean.id}, #{bean.loginName}, #{bean.name}, #{bean.password}, #{bean.creator}, #{bean.modifier}
        )
    </insert>

    <update id="updatePassword">
		update user set password =#{password}, modifier =#{oper} where id =#{userId}
	</update>

    <update id="update">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="bean.name != null">
                name = #{bean.name, jdbcType=VARCHAR},
            </if>
            <if test="bean.loginName != null">
                loginname = #{bean.loginName, jdbcType=VARCHAR},
            </if>
            modifier=#{bean.modifier, jdbcType=VARCHAR}
        </trim>
        where id = #{bean.id, jdbcType=INTEGER}
    </update>

    <delete id="deleteByUserId">
		delete from user where id =#{userId, jdbcType=INTEGER}
	</delete>

    <select id="count" resultType="java.lang.Long">
        select count(1) from user where 1=1
        <if test="filter.nameLike != null and filter.nameLike  !='' ">
            and name like concat ('%' , #{filter.nameLike} , '%')
        </if>
        <if test="filter.loginNameLike != null and filter.loginNameLike  !='' ">
            and loginname like concat ('%' , #{filter.loginNameLike} , '%')
        </if>
    </select>

    <select id="query" resultType="com.hamster.ak.bean.UserBean">
        select
        <include refid="base_column_list"/>
        from user where 1=1
        <if test="filter.nameLike != null and filter.nameLike  !='' ">
            and name like concat ('%' , #{filter.nameLike} , '%')
        </if>
        <if test="filter.loginNameLike != null and filter.loginNameLike  !='' ">
            and loginname like concat ('%' , #{filter.loginNameLike} , '%')
        </if>
        <if test="sortKey !=null and sortKey !='' ">
            order by ${sortKey}
        </if>
        <if test="desc">
            <![CDATA[ desc ]]>
        </if>
        limit ${offset}, ${limit}
    </select>
</mapper>
